.rateItem {
  transition: all 0.2s ease-in;
  border: 1px solid #ccc;
  padding: 1.4rem;
  margin: 1rem 0;

  background-color: #fff;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
  justify-content: space-between;

  &:hover {
    border: 1.3px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  }
}

.header {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.body {
  div {
    margin-bottom: 0.8rem;
  }
}

.positive {
  color: green;
}

.negative {
  color: red;
}
