.rateItemList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 42rem;
  height: 100%;
}

.inputSearch {
  outline: none;
  padding: 1rem;
  height: 3.2rem;
  border: solid 1px black;
  &:focus {
    border-color: var(--primary-color);
  }
}

.info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
