@import '../../styles//mixins.scss';

.rateItemList {
  width: 100%;
  height: 100%;
  padding: 0 1rem;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 6rem;

    .sort {
      font-size: 1.4rem;
      background-color: transparent;
      flex: 1;
    }

    .inputSearch {
      flex: 4;
      height: 3.2rem;
      outline: none;
      padding: 1rem;
      margin: 0 2rem;
      border: solid 1px var(--primary-color);

      &:focus,
      &:hover {
        border-color: var(--secondary-color);
      }
    }
  }

  .info {
    height: 80%;
    @include flex-center;
  }
}
